Django==5.0.3
gunicorn==21.2.0
requests==2.31.0
newspaper3k==0.2.8
beautifulsoup4==4.12.3

# Transformers for NLP
transformers==4.41.2
torch==2.3.0

# Optional: Tokenizers & NLP utils
nltk==3.8.1
spacy==3.7.4

# To avoid nltk download errors at runtime
tqdm==4.66.4
lxml==5.2.1
certifi==2024.2.2
